body {
  font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;
}
h1, h2, h3, h4, h5, h6 {
 font-family: "PT Serif", Georgia, "Times New Roman", Times, serif; 
}
a {
 font-family: "PT Serif", Georgia, "Times New Roman", Times, serif;  
}

.main-wrap {
  margin: auto;
}

header {
  background: #4c4c4c;
  color: #e6e6e6;
  padding: 10px;
}

header a {
  color: #e6e6e6;
}

header h1, header h2, header h3 {
  margin: 0;
}

img.io7avatar {
  border-radius: 50%;
}

.sidebar {
  background: none repeat scroll 0 0 #FAFAFA;
  padding: 32px 20px;  
  text-align: center;
  font-size: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
code {
  font-weight: normal;
  color: #000;
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: .6em .9em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
