<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Foundation CSS -->
        <link rel="stylesheet" href="/foundation/css/normalize.css">
        <link rel="stylesheet" href="/foundation/css/foundation.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <header>
          <h3 class="title"><a href="/">{{ site.name }}</a></h3>
        </header>        

        <div class="main-wrap small-11">

            <div class='small-10 columns'>
              {{ content }}
            </div>

            <div class='small-2 columns sidebar'>
              <img src='/images/me.jpg' class='io7avatar' />
              <small>author</small>
              <p>Vitaliy Yanchuk</p>
              <ul class='side-nav'>
                <li><a href="mailto:vitaliy@yanchuk.me">vitaliy@yanchuk.me</a></li>
                <li><a href="https://github.com/fuksito">github.com/fuksito</a></li>
                <li><a href="https://twitter.com/fuksito">twitter.com/fuksito</a></li>
              </ul>
            </div>

          </div>
        </div>
        
        {% include tracking.html %}

    </body>
</html>
